{% extends 'base.html' %}
{% load static %}
{% block content %}
  <ul>
    
    <li>
      <a href="{% url 'model_form_upload' %}">Model Form Upload</a>
    </li>
  </ul>

  <p>Uploaded files:</p>
  <ul>
    {% for obj in documents %}
      <li>
         <audio controls>
          
          <source src="{{ obj.document.url }}" type="audio/ogg">

        </audio> 
        <h4 style="color: red">Size : {{ obj.document.size|filesizeformat}}  </h4>
        <a href="{{ obj.document.url }}">{{ obj.document.name }} </a>

        <small>(Uploaded at: {{ obj.uploaded_at }})</small>
      </li>
    
        <h4>XML file : </h4>
          <a href="{{ obj.document.url }}.xml">{{ obj.document.name }}.xml </a>
    
  
    {% endfor %}
  </ul>
{% endblock %}